header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
header img.img-fluid {
    max-width: 200px;
    margin: auto;
    display: block;
}

/* Simple showing-hide card text */

/* .card .card-body {
    display: none;
}
.card.is-expanded .card-body {
    display: flex;
} */

/* Simple animating */

/* .card .card-body {
    min-height: 0;
    padding: 0 1.25rem;
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0.525, 0.66, 0.495, 1.4);
}
.card.is-expanded .card-body {
    max-height: 200px;
    padding: 1.25rem;
} */

/* JS Calculating height */

.card {
    border: none;
}
.card .card-header {
    cursor: pointer;
}
.card .card-collapse {
    overflow: hidden;
    padding: 0 1.25rem;
    transition: height 0.3s ease-out;
}

/* Loader icon */

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    transform: translate(-50%, 150%);
    opacity: 0;
    visibility: hidden;
    transition-delay: 0.2s;
}

.loader .icon {
        width: 100px;
        height: 100px;
        position: absolute;
        left: 0;
        top: 0;
        background: url('./images/ico_loader.svg') no-repeat 0 0;
        background-size: 100px 100px;
    }
   
.is-loading+.loader {
        opacity: 1;
        visibility: visible;
        transition: opacity 0.3s linear, visibility 0.3s linear;
        z-index: 3;
    }
.is-loading+.loader .icon {
    animation: spin 500ms infinite linear;
}

/* animation */

@keyframes spin {
    0% { transform: rotate(0); transform-origin: center center; }
    100% { transform: rotate(360deg); transform-origin: center center; }
}