.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  h1 {
    font-family: 'Comfortaa', cursive;
    font-weight: 700;
    font-size: 72px;
    color: #0ccac4;
  }
}

@media (max-width: 780px) {
  .wrapper {
    h1 {
      font-size: 40px;
    }
  }
}
