.card-container {
  display: grid;
  place-content: center;
  background-color: #95dada;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 10px 25px;
  cursor: pointer;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transition: all 0.25s ease-out;
  text-align: center;

  img {
    width: 180px;
    height: auto;
  }
  &:hover {
    transform: scale(1.05);
    opacity: 0.8;
  }
}
